.form {
	font-size: 0.9em;
	background-color: rgba(255,255,255,0.7);
	margin-left: 50px;
	margin-top: 120px; 
	border-radius: 20px;
	max-width: 30%;
	display: inline-block;
	padding-bottom: 20px;
}

.form .field, .form .action {
	padding: 20px;
}

.form input {
	display: inline-block;
	text-align: right;
	float: right;
}

.form label {

}

.form .action {
	padding-bottom: 20px;
}

.form_text {
	text-align: center;
	float: right;
	width: 60%;
	margin-top: 150px;
}

.form_text h3 {
	font-size: 2em;
	width: 70%;
	min-width: 200px;
	margin: 0 auto;
	margin-bottom: 1em;
	text-shadow: 3px 3px 0px white;
}

@media only screen and (max-width: 900px){
	.form {
		display: block;
		max-width: 50%;
		min-width: 300px;
		margin: 0 auto;
	}
	.form_text {
		float: none;
		width: 100%;
		margin-top: 75px;
	}

	.form_text h3 {
		font-size: 1em;
		width: 50%;
	}
}

.link_back {
	display: block;
	text-align: right;
	margin-right: 50px;
}