/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .devise {
 	display: inline-block;
 	margin: 50px;
  margin-top: 120px;
 	background-color: rgba(255,255,255,0.7);
 	border-radius: 20px;
 	padding: 20px;
 }

 .devise label, .devise input {
 	margin: 10px;
 }

 .error_msg {
  padding-top: 120px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
 }

 .error_msg h1 {
  text-shadow: 3px 3px 0px white;
 }

a:visited {
  color: black;
}

a:hover {
  text-shadow: 2px 2px 0px black;
}

.messages {
  display: inline-block;
  font-size: 0.7em;
  width: 100%;
}

.section {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: black;
}

.flash {
  display: inline-block;
  color: red;
  width: 10%;
}

.credits {
  width: 40%;
  display: inline-block;
  float: right;
  text-align: right;
  margin-right: 20px;
}

.nav {
  display: inline-block;
  width: 40%;
  margin-left: 20px;
}

.nav p {
  margin-bottom: 5px;
}

.section p, a:visited {
  color: white;
}