body {
	background-image: image-url('lego_small.jpg');
	background-size: 20px;
	font-family: "Press Start 2P", Arial, serif; font-weight: 400;
	margin: 0;
	padding: 0;
}

.panel {
	background-color: rgba(255,255,255, 0.7);
	border-radius: 20px;
	max-width: 40%;
	margin-left: 50px;
	margin-bottom: 50px;
	margin-top: 70px;
}

.text {
	text-align: center;
	float: right;
	width: 50%;
	margin-top: 150px;
}

.text h3 {
	width: 100%;
	min-width: 200px;
	margin: 0 auto;
	font-size: 2em;
	margin-bottom: 1em;
	text-shadow: 3px 3px 0px white;
}

@media only screen and (max-width: 900px){
	body {
		padding-top: 60px;
	}

	.panel {
		max-width: 50%;
		min-width: 300px;
		margin: 0 auto;
	}

	.text {
		float: none;
		width: 100%;
		margin-top: 75px;
	}

	.text h3 {
		font-size: 1em;
		width: 50%;
	}

	.section {
		max-width: 400px;
	}
}

.prox p {
	margin-left: 50px;
	margin-bottom: 20px;
	margin-top: 0;
}

.buttons {
	margin-left: 50px;
	margin-bottom: 20px;
}

.commands_form {
	margin-left: 50px;
	margin-bottom: 20px;
}

.instructions {
	display: inline-block;
	font-size: 0.7em;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-right: 20px;
}

 li {
	padding: 2px;
}

.no_log_in {
	text-align: center;
	padding: 20px;
}

input {
	font-family: "Press Start 2P", Arial, serif; font-weight: 400;
}

textarea {
	max-width: 200px;
	max-height: 100px;
}