body {
	background-image: image-url('lego_small.jpg');
	background-size: 1%;
	font-family: "Press Start 2P", Arial, serif; font-weight: 400;
	margin: 0;
	padding: 0;
}

.panel {
	background-color: rgba(255,255,255, 0.7);
	border-radius: 20px;
	max-width: 40%;
	margin-left: 50px;
	margin-bottom: 50px;
	margin-top: 100px;
}

.text {
	text-align: center;
	float: right;
	width: 50%;
	margin-top: 150px;
}

.text h3 {
	width: 100%;
	min-width: 200px;
	margin: 0 auto;
	font-size: 2em;
	margin-bottom: 1em;
	text-shadow: 5px 5px 5px rgba(255,255,255,0.5);
}

@media only screen and (max-width: 900px){
	.panel {
		max-width: 50%;
		min-width: 300px;
		margin: 0 auto;
	}

	.text {
		float: none;
		width: 100%;
		margin-top: 75px;
	}

	.text h3 {
		font-size: 1em;
		width: 50%;
	}

	.section {
		max-width: 400px;
	}
}

.prox p {
	margin-left: 50px;
	margin-bottom: 20px;
	margin-top: 0;
}

.buttons {
	margin-left: 50px;
	margin-bottom: 20px;
}

.commands_form {
	margin-left: 50px;
	margin-bottom: 20px;
}

.instructions {
	display: inline-block;
	font-size: 0.7em;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-right: 20px;
}

 li {
	padding: 2px;
}

.no_log_in {
	margin-top: 20px;
}

.no_log_in p {
	margin: 0 auto;
	width: 70%;
	min-width: 300px;
}

input {
	font-family: "Press Start 2P", Arial, serif; font-weight: 400;
}

.nav {
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
	margin-bottom: 10px;
}

.messages {
	font-size: 0.7em;
	display: inline-block;
	margin-right: 20px;
	background-color: rgba(255,255,255,0.7);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 100%;
	min-width: 200px;
}

.messages p {
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 0px;
}

.section {
	position: fixed;
	top: 0px;
	right: 20px;
}

textarea {
	max-width: 200px;
	max-height: 100px;
}

.flash {
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
	color: red;
}

.credits p {
	margin-bottom: 10px;
	margin-right: 50px;
	text-align: right;
}